body
{
    font-family: 'Proxima Nova', Arial, sans-serif;
}

.mt-5 
{
    padding-top: 3rem ;
}

a 
{
    text-decoration: none;
}

#post a {
    font-size: 15px;
    color: #c7c7c7;
}

#post a.active{
    color: #0f0f0f;

}
#post span
{
    font-size: 15px;
}

h5
{
    font-size: 14px;
}

 #post i{
    font-size: 22px;
    width: 24px; 
    height: 24px; 
}

i{
    font-size: 22px;
    -webkit-text-stroke:0.5px #0f0f0f;

}
nav span {
    font-size: 16px;
}

nav span.active {
    font-weight: bold;
}

.nav-link{

    border-radius: 8px;

 }

.nav-link:hover:not(:first-child){

   background-color:#f2f2f2;
}

#comment {
    border: none;
    font-size: 14px;
    color:#0f0f0f;

}
input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color:gray; 
  }

  .link-button {
    background: none;
    border: none;
    color: #0c9af6;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }
  
  .link-button:hover {
    text-decoration: none;
    color: #0a74bb;
  }